<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact (ejs)</title>
  </head>
  <body>
    <%- include ("layout/header")%>
    <main class="contact-font">
      <h1>Azizul Hakim</h1>
      <p>Dhaka, Mohammdpur</p>
    </main>
    <%- include("layout/footer")%>
  </body>
</html>
